*{
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 10px auto;
  box-sizing: border-box;
  height: auto;
  
}

h1 {
  text-align: center;
  width: 80%;
  
}

.contenedor{
  width: 100%;
  max-width: 1000px;
  padding: 25px;
}

.columna-1 {
  text-align: left;
  width: 30%;
  float: left;
}

.columna-2 {
  width: 30%;
  float: left;
}

.columna-3 {
  width: 30%;
  float: left;
}

@media screen and (max-width:760px){

.columna-1 {
  text-align: left;
  width: 30%;
  float: left;
  padding-bottom: 50%;
  margin-right: 20px;
  
}


.columna-2 {
  width: 60%;
}
.columna-3 {
  width: 60%;
}
.parrafo {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.parrafo li{
  width: 33.3%;
  float: left;
  padding-left: 3%;
  margin: 0px;
  padding: 0px;
}

 
}

@media screen and (max-width :420px){


  .contenedor{
    width: 90%;
    padding: 0%;
    margin: 0%;
  }

  .titulo, .columna-1, .columna-2, .columna-3 {
    width: 90%;
    padding: 0%;
    margin: 0%;
    
  }

  .columna-1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .parrafo{
    list-style:disc;
    margin-left: 5%;
  }

  .parrafo li{
    width: 80%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
}




